.panel {
  font-size: .6rem;
  position: absolute;
  z-index: 20000;
  top: 50px;
  left: 50px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.8), 0 -1px 0px rgba(0,0,0,0.08);
  border-radius: 6px;
  min-width: 100px;
}
.panel span {
  float: right;
}
.panel-heading {
  padding: .1rem .2rem;
  margin: 0;
  cursor: move;
}
.panel-body {
  padding: 0px;
}
.panel-body textarea {
  padding: .2rem;
  font-size: .6rem;
  border-radius: 0;
  /*min-height: 120px;*/
  /*min-width: 250px;*/
  overflow-y: hidden!important;
}

.panel:nth-child(2) {
  top: 50px;
  left: 20px;
}
.panel:nth-child(3) {
  top: 50px;
  left: 150px;
}
.panel:nth-child(4) {
  top: 50px;
  left: 282px;
}
.panel:nth-child(5) {
  top: 50px;
  left: 412px;
}
.panel:nth-child(6) {
  top: 50px;
  left: 542px;
}

.panel:nth-child(7) {
  top: 138px;
  left: 20px;
}
.panel:nth-child(8) {
  top: 138px;
  left: 150px;
}

.panel:nth-child(9) {
  top: 138px;
  left: 282px;
}
.panel:nth-child(10) {
  top: 138px;
  left: 412px;
}
.panel:nth-child(11) {
  top: 138px;
  left: 542px;
}
