/* Bootstrap Override ------------------------------------------------------- */

.container-fluid {
  height: 100%;
}
.container-fluid .row {
  height: 100%;
}
.bootstrap-datetimepicker-widget, .bootstrap-datetimepicker-widget table {
  width: 68%;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 15em;
}

/* Google Map Override ------------------------------------------------------ */

.gm-style-iw .detail {
  margin-top: 5px;
}
.gm-style-iw span {
  font-size: .7rem;
}

/* Page Header -------------------------------------------------------------- */

h1.page-header {
  position: fixed;
  width: 100%;
  z-index: 4000;
}

/* Sidebar ------------------------------------------------------------------- */

.sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #777;
  width: 380px;
  position: fixed;
  top: 62px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar h4.title {
  color: #fff;
  height: 40px;
  padding-left: 20px;
  line-height: 40px;
  margin: 0 -21px;
}
.sidebar hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 0;
  margin: 0;
  margin-right: -21px;
  margin-left: -20px;
}
.sidebar label {
  font-weight: normal;
}
.sidebar input[type=text] {
  display: initial;
  display: inline-block;
  width: initial;
  width: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  height: 25px;
}
.sidebar input[type=text].small {
  width: 70px;
}
.sidebar input[type=text].datetimepicker {
  width: 100px;
}
.sidebar .radio {
  display: inline-block;
}
.sidebar .btn {
  display: block;
  float: right;
  margin-top: 50px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar .checkbox input[type=checkbox],
.nav-sidebar .radio input[type=radio]{
  margin-left: -15px;
  margin-top: 2px;
}
.nav-sidebar {
  font-size: .8rem;
  padding: 20px 0;
}
.nav-sidebar .checkbox {
  margin-bottom: 0;
}
.nav-sidebar .padding-index {
  padding-left: 12px;
}
.nav-sidebar .title {
  font-size: .9rem;
}
.nav-sidebar-1 .checkbox label {
  width: 60px;
}
.checkbox.all-check label {
  width: initial;
  width: auto;
  border-bottom: 1px solid;
  border-color: #777;
  padding-left: 0px!important;
}
.checkbox.all-check label span {
  margin-right: 5px;
}

/* Map Wrap ------------------------------------------------------------------- */

.map-wrap {
  padding-bottom: 150px;
}
.map-wrap, .detail-wrap  {
  margin-left: 380px;
}
.map-wrap .main {
  margin-right: 0!important;
  padding: 0;
}
.map-wrap .main, #map {
  height: 100%;
}

/* Map Serch Text ----------------------------------------------------------- */

.map-serch-text {
  position: fixed;
  top: 62px;
  left: 380px;
  z-index: 1000;
  display: block;
  width: 400px;
  margin: 20px;
}
.map-serch-text .input-group {
  box-shadow: 0 1px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  border-radius: 6px;
}

/* Detail Wrap -------------------------------------------------------------- */

.detail-wrap {
  background-color: #f5f5f5;
  background-color: #777777;
  color: #fff;
  opacity: 0.7;

  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: block;
  width: 100%;
  height: 150px;
  padding: 20px;
  overflow-y: scroll;
}
.detail-wrap .list-group li {
  background-color: initial!important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.detail-wrap .list-group li {
  font-weight: bold;
  font-size: .9rem;
}
.detail-wrap .list-group span {
  font-weight: normal;
  font-size: .9rem;
}
