body {
  overflow: hidden;
  overflow-x: auto;
}

h4 {
  border-bottom: 1px solid #777;
  display: inline-block;
}

button {
  float: right;
  margin-right: 18px;
}

#map {
  height: 90%;
}
.list-group li {
  border: none;
  padding: 2px;
  font-size: .8rem;
}
.pattern-wrap {
  position: relative;
  margin-left: 30px;
}

.wrap {
  max-height: 760px;
}

.bottom-wrap {
  height: 200px;
  padding: 2% 0;
}
.bottom-wrap div {
  height: 200px;
}
.bottom-wrap div:nth-child(2) {
  padding-left: 10px;
}

/* Table -------------------------------------------------------------------- */

#table-wrap > table,
#header_v tr {
  border-right: 2px solid #ddd;
}
#table-wrap > table,
#header_h > table th {
  border-bottom: 2px solid #ddd;
}
.table-border-wrap {
  margin: auto;
  margin-top: 20px;
}
#table-wrap * {
  font-size: .8rem;
}
#table-wrap th {
  font-size: .9rem;
}
/* width */
.table-border-wrap {
  width: 1208px;
}
#table-wrap {
  width: 1206px;

}
#header_h {
  width: 1100px;
}
[name="T"] {
  width: 1000px;
}
#data {
  /* スクロール幅　+16px */
  width: 1116px;
}
td {
  width: 90px;
}
[name="T"]  th,
[name="T"]  td {
  width:200px;
}
[name="T"]  th:nth-child(4),
[name="T"]  td:nth-child(4),
[name="T"]  th:nth-child(8),
[name="T"]  td:nth-child(8) {
  width:150px;
}
[name="T"]  th:last-child,
[name="T"]  td:last-child   {
  width:500px;
}
[name="TV"] th{
  width:90px;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* height */

.table-border-wrap {
  height: 457px;
}
table th, table td {
  height: 25px;
}
/* td の高さに合わせる */
#header_v, #data {
  top: 25px;
}
#header_v {
  height:400px;
}
#data {
  /* スクロール幅 +15 */
  height:415px;
}

/* Other Setting */

th, td {
  text-align: center;
}
th.text-left, td.text-left {
  text-align: left;
}
table.t {
  table-layout:fixed;
}
#header_h {
  position: absolute;left:90px;top:0px;
  overflow-x:hidden;overflow-y:hidden;
}
#header_v {
  position: absolute;
  left:0px;
  width:90px;
  overflow-x:hidden;
  overflow-y:hidden;
}
#data {
  position: absolute;
  left:90px;
  overflow-x:scroll;
  overflow-y:scroll;
}
#data, #header_v {
  background-color: rgb(241, 241, 241);
}
table .glyphicon {
  color: #777;
  cursor: pointer;
  font-size: .3rem;
  z-index: 99999999;
}

table .number {
  cursor: pointer;
}
