/*
 * Base structure
 */

html, body {
  background-color: #fff;
  font-size: 100%;
  width: 100%;
  height: 100%;
}

input[type="text"]:focus {
  outline: 0;
  border-color: #777;
}

/* Utl ---------------------------------------------------------------------- */

.margin-0 {
  margin: 0;
}
.margin-r-10 {
  margin: 10px;
}
.padding-0 {
  padding: 0;
}

.background-color-main {
  background-color: #428bca;
}

/* Bootstrap Override ------------------------------------------------------- */

/* bootstrap datetimepicker */
.bootstrap-datetimepicker-widget, .bootstrap-datetimepicker-widget table {
  width: 68%;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 15em;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #fff;
}
.bootstrap-datetimepicker-widget td.day {
    line-height: 10px;
}

/* Google Map --------------------------------------------------------------- */

.gm-style-iw div div {
  overflow: hidden;
}

/* Common ------------------------------------------------------------------- */

.page-header {
  height: 62px;
  margin: 0;
}

h1.page-header {
  line-height: 40px;
  font-size: 1.2rem;
  padding: 10px 15px!important;
  margin: 0!important;
  color: #fff;
}
